@charset "utf-8";

/*font1*/

@font-face {
  font-family: "SF_HambakSnow";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
}

/*font2*/

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

/*font3*/

@font-face {
  font-family: "GongGothicMedium";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
}

* {
  border: 0px solid red;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  line-height: 1rem;
  margin: 0;
  word-break: keep-all;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.5rem;
}

h2 {
  /* font-family: 'Nanum Myeongjo', serif; */
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 25px;
}

h4 {
  font-size: 1rem;
  font-weight: 550;
  margin: 10px 0;
}

/* main {
  margin-top: 100px;
} */

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 5px 0;
}

select {
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 1rem;
  font-weight: bold;
  margin: 5px auto;
  padding-left: 15px;
  padding: 15px 0;
  width: 100%;
}

hr {
  border-bottom: 1px solid #dddddd;
  margin: 20px 0;
}

input {
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 1rem;
  line-height: 3rem;
  margin: 5px auto;
  padding-left: 15px;
  width: 100%;
}

input:focus {
  outline: 1px solid black;
}

input::placeholder {
  color: #757575;
}

img {
  width: 50px;
}

ul,
ol,
li {
  list-style-type: none;
}

textarea {
  border-radius: 4px;
  border: 1px solid #ddd;
  height: 300px;
  padding: 10px;
  resize: none;
  width: 100%;
}

/*
a {
    color: #666;
    font-size: 13px;
    text-decoration: underline;
}
*/

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: #747474;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

article {
  /*    margin-top: 100px;*/
}

button {
  border-radius: 5px;
  border: 1px solid #dddddd;
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 3rem;
  margin: 5px 0;
  padding: 0 5px;
}

/*드래그 컬러 변경*/

::selection {
  background: #fee232;
  color: #000;
}

.align-centers {
  align-items: center;
}

.black-btn {
  background: #444444;
  color: white;
}

.black-btn:hover {
  background: black;
  transition: 0.5s;
}

.bold-hr {
  border: 1px solid #cccccc;
}

.centers {
  text-align: center;
}

.check-width {
  width: 30px;
}

.content-box {
  border-radius: 10px;
  border: 1px solid #dddddd;
  margin: 50px 5%;
  padding: 50px 30px;
}

.flexs {
  display: flex;
}

.essential::after {
  color: #e6002d;
  content: "*";
}

.gray-btn {
  background: #eeeeee;
  border: 0px;
  color: black;
  font-weight: bold;
  padding: 0 40px;
}

.gray-btn:hover {
  transition: 0.5s;
  background: #cccccc;
}

.gray-ft {
  color: #9c9f9f;
}

.lefts {
  text-align: left;
}

.margins {
  margin: 50px 0;
}

.margin-auto {
  margin: 0 auto;
}

.none {
  display: none;
}

.paddings {
  padding: 0 5%;
}

.red-btn {
  background: #e6002d;
  color: white;
  font-weight: bold;
}

.red-btn:hover {
  box-shadow: 1px 1px 4px #cccccc;
  transition: 0.5s;
}

.red-ft {
  color: #e6002d;
}

.space-betweens {
  display: flex;
  justify-content: space-between;
}

.white-btn {
  background: none;
  color: black;
  font-weight: bold;
  width: 100%;
}

.white-btn:hover {
  box-shadow: 1px 1px 4px #cccccc;
  transition: 0.5s;
}

.wraps {
  margin: 0 auto;
  width: 1200px;
}

/*start*/
main header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

main header .navs {
  border-bottom: 1px solid silver;
  position: fixed;
  width: 100%;
  z-index: 80;
  background: #282321;
}

main header .navs .navs_menu div {
  padding-top: 4px;
  cursor: pointer;
}

main header .navs span {
  width: 30px;
  height: 4px;
  background: white;
  display: block;
  margin-bottom: 8px;
}

main header nav {
  height: 80px;
  transition: all 0.4s;
}

main header nav > div {
  height: 100%;
  position: relative;
}

main header nav div a img {
  width: 120px;
}

main header nav div > :nth-child(2) > ul li a {
  color: white;
  font-size: 1.1rem;
}

header #sd-menu1.active,
header #sd-menu2.active,
header #sd-menu3.active,
header #sd-menu4.active,
header #sd-menu5.active,
header #sd-menu6.active,
header #sd-menu7.active {
  top: 80px;
}

header .sd-menu1,
header .sd-menu2,
header .sd-menu3,
header .sd-menu4,
header .sd-menu5,
header .sd-menu6,
header .sd-menu7 {
  background: white;
  height: 350px;
  left: 0;
  position: fixed;
  text-align: left;
  top: -430px;
  transition: all 0.4s;
  width: 100%;
  z-index: 13;
}

header .sd-menu1 > ul,
header .sd-menu2 > ul,
header .sd-menu3 > ul,
header .sd-menu4 > ul,
header .sd-menu5 > ul,
header .sd-menu6 > ul,
header .sd-menu7 > ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

header .sd-menu1 > ul > li,
header .sd-menu2 > ul > li,
header .sd-menu3 > ul > li,
header .sd-menu4 > ul > li,
header .sd-menu5 > ul > li,
header .sd-menu6 > ul > li,
header .sd-menu7 > ul > li {
  height: 350px;
  margin: 0 auto;
  padding-top: 60px;
  width: 20%;
  border-left: 1px dotted #bbb;
}

header .sd-menu1 > ul > :nth-child(1),
header .sd-menu2 > ul > :nth-child(1),
header .sd-menu3 > ul > :nth-child(1),
header .sd-menu4 > ul > :nth-child(1),
header .sd-menu5 > ul > :nth-child(1),
header .sd-menu6 > ul > :nth-child(1),
header .sd-menu7 > ul > :nth-child(1) {
  border-left: 0px dotted #bbb;
}

header .sd-menu1 > ul > li > a,
header .sd-menu2 > ul > li > a,
header .sd-menu3 > ul > li > a,
header .sd-menu4 > ul > li > a,
header .sd-menu5 > ul > li > a,
header .sd-menu6 > ul > li > a,
header .sd-menu7 > ul > li > a {
  color: black;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 30px;
  position: relative;
}

header .sd-menu1 > ul > li > a:after,
header .sd-menu2 > ul > li > a:after,
header .sd-menu3 > ul > li > a:after,
header .sd-menu4 > ul > li > a:after,
header .sd-menu5 > ul > li > a:after,
header .sd-menu6 > ul > li > a:after,
header .sd-menu7 > ul > li > a:after {
  background-color: #faa208;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  margin: 5px 0 0;
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
  transition: all 0.2s ease-in-out;
  width: 0px;
}

header .sd-menu > ul > li > a:hover:after {
  opacity: 1;
  width: 100%;
}

header .sd-menu > ul > li ul li {
  margin-bottom: 16px;
}

header .sd-menu > ul > li ul li a {
  font-size: 0.9rem;
  position: relative;
}

header .sd-menu > ul > li ul li a:hover {
  text-decoration: underline;
}

header .sd-menu1 > div,
header .sd-menu2 > div,
header .sd-menu3 > div,
header .sd-menu4 > div,
header .sd-menu5 > div,
header .sd-menu6 > div,
header .sd-menu7 > div {
  background: #493f32;
  border-radius: 30px;
  height: 50px;
  left: 50%;
  position: fixed;
  top: -50px;
  transform: translate(-50%, 0);
  transition: all 0.4s;
  width: 50px;
}

/*
header .sd-menu>div::after,
header .sd-menu>div::before {
  border-right: 2px solid white;
  border-top: 2px solid white;
  content: "";
  height: 11px;
  left: 18px;
  position: fixed;
  transform: rotate(-45deg);
  width: 12px;
}

header .sd-menu>div::after {
  top: 18px;
}

header .sd-menu>div::before {
  top: 26px;
}

header .sd-menu>div:hover {
  background: #3b1e1e;
  cursor: pointer;
}
*/

header .filter-dark {
  background: #000;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: 1;
}

#pcTap {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 80px;
  z-index: 80;
  width: 100%;
  height: 100vh;
  display: none;
}

#closePcTap {
  position: absolute;
  font-size: 3rem;
  right: 20px;
  top: 25px;
  cursor: pointer;
}

header .pc_tap_main {
  position: absolute;
  width: 1000px;
  height: 700px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 40px 80px;
}

header .pc_tap_main .pc_tap_menu {
  display: flex;
}

header .pc_tap_main .pc_tap_menu div {
  width: 25%;
}

header .pc_tap_main .pc_tap_menu .tabpc {
  background: none;
  border: 1px solid silver;
  border-bottom: 1px solid black;
}

header .pc_tap_main .pc_tap_menu .tabpc-color {
  border: 1px solid black;
  border-bottom: none;
}

header .pc_tap_main .pc {
  position: absolute;
  display: flex;
  top: 150px;
  width: 840px;
}

header .pc_tap_main .pc div {
  width: 25%;
  background: none;
}

header .pc_tap_main .pc div p {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 30px;
}

header .pc_tap_main .pc div ul li {
  list-style: none;
  word-break: keep-all;
  padding-bottom: 20px;
  cursor: pointer;
}

header .pc_tap_main .pc div ul li:hover {
  font-weight: bold;
}

main header .navs .navs_menu div {
  padding-top: 10px;
}

/*main*/
.mobile_checkcard {
  margin-top: 80px;
  position: relative;
}

.mobile_checkcard h1 {
  padding-bottom: 20px;
}

.mobile_checkcard p {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
}
